.form-report {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
}
.form-report>.title_form {
    font-family: Open Sans;
    margin: 16px 8px 16px 0;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 0;
    font-weight: 600;
    color: #fff;
}
.form_ndl {
	background: #313139;
}
.form_ndl label {
    margin-bottom: 0.5em;
    display: block;
    color: #fff !important;
    font-size: 1rem;
    font-weight: normal;
}
.form-group .form-control {
    max-width: 100%;
    box-shadow: none;
    font-size: 1.3rem;
    color: #EAEAEA;
    font-weight: light;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #313139;
    border: 1px solid #BBBBBB;
}
.form_ndl .row {
	margin-bottom: 10px;
}
.form_ndl select {
    padding: 6px 30px 6px 12px;
}
.impact_ndl ul {
    padding-top: 0.4rem;
    margin-bottom: 0px;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.impact_ndl ul li:first-child {
    padding-left: 5px;
}
.impact_ndl ul li {
    padding: 0 0 0 3px;
    line-height: 1em;
    font-size: 1.5rem;
    cursor: pointer;
}
.impact_ndl ul li a {
    color: #f4f4f5;
    cursor: pointer;
}
.impact_ndl ul li a i {
	cursor: pointer;
}
.color-red {
	color: red;
}
.field-date input {
	padding-left: 30px;
	position: relative;
}
.field-date input:before {
	content: "\f073";
	font-family: "FontAweSome";
	position: absolute;
	top: 0;
	left: 0;
}
.button_ndl a {
	padding: 10px;
}
.button_ndl button.cancel {
	color: white;
    background-color: transparent;
    border: 1px solid #fff;
	color: #fff;
	width: 70%;
	font-size: 1.2rem;
	border-radius: 2px;
    transition: background 0.25s ease, border 0.25s ease, color 0.25s ease;
    text-transform: capitalize;
    outline: none !important;
    float: right !important;
    padding: 10px 16px;
}
.button_ndl button.save {
	color: #fff;
	width: 70%;
    background-color: #435f95;
    border: 1px solid #435f95;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
     font-size: 1.2rem;
	border-radius: 2px;
	float: left !important;
	padding: 10px 16px;   
}

.button_ndl .form-group {
    margin: 0;
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
}
.button_ndl {
	margin-top: 20px;
}
.button_ndl button.cancel:hover {
	color: white;
    background-color: transparent;
   background: rgba(0,0,0,0.23);
}
.button_ndl button.save:hover {
	color: #fff;
    background-color: #384f7d;
    border-color: #2b3d60;
}
.map_csdl {
	padding-right: 0px;
}